<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My Weather Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar
    [(ngModel)]="city"
    (ionChange)="setFilteredItems()"
  ></ion-searchbar>

  <ion-list>
    <ion-item
      button
      *ngFor="let weather of weathers"
      [routerLink]="['/', 'weather-detail']"
    >
      <ion-avatar slot="start">
        <img
          src="https://openweathermap.org/img/wn/{{
            weather.weather[0].icon
          }}@2x.png"
        />
      </ion-avatar>
      <ion-list>
        <ion-label text-wrap>
          <h3>{{ weather.dt * 1000 | date }}</h3>
          <h4>{{ weather.weather[0].main }}</h4>
          <p>{{ weather.temp.day - 273.15 | number: "0.2-2" }}&deg; C</p>
        </ion-label>
      </ion-list>
    </ion-item>
  </ion-list>
</ion-content>
